{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}


 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

   google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'X');
      data.addColumn('number', 'Evolución del peso');



      data.addRows(convertirDatatable());


      var options = {
        hAxis: {
          title: 'Fecha'
        },
        vAxis: {
          title: 'Peso (Kg)'
        },
         backgroundColor: '#f5f5f5',
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }

    function convertirDatatable(){
        var lista = {{lista_pesoMama}}
        var res = [];
        for (var i=0; i<lista.length; i++){

            unArray = lista[i];
            dia = unArray[0];
            mes = unArray[1];
            año = unArray[2];
            peso = unArray[3];

            fecha = new Date(año,mes,dia)

            var arrayCreado = [fecha, peso];
            res.push(arrayCreado);



        }


        return res;

    }
  </script>





<div class=" row m-5 pr-lg-5 pl-lg-5  d-flex  justify-content-center ">
    <div class="col-12">
             <h1 align="center"  class="nav justify-content-center tituloView">Gráficas</h1>

        <hr style="width: 60%">
    </div>



</div>

  <div id="chart_div"></div>
{% endblock %}