{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}


<div class=" row m-5 pr-lg-5 pl-lg-5  d-flex  justify-content-center ">
    <div class="col-12">
        <h1 align="center"  class="nav justify-content-center tituloView">Registro de contracciones</h1>
        <hr style="width: 60%">
    </div>


    <div class="col-12 justify-content-center">
        <table class="table-responsive-sm table">
            <thead>
		    <tr>
                <td><strong>Fecha</strong></td>
                <td><strong>Duración</strong></td>
                <td><strong>Intervalo</strong></td>
                <td></td>
            </tr>
	        </thead>

            <tbody align="">
                 {% for contraccion in lista_contracciones %}

                <tr>
                    <td>
                       {{ contraccion.momento }}
                    </td>
                    <td>
                       {{ contraccion.duracion }}
                    </td>
                    <td>
                       {{ contraccion.intervalo }}
                    </td>
                    <td>
                        <a href="/borrarContraccion/{{ contraccion.id }}/">
                             <img src="../../static/icon/borrar.svg" alt="Borrar" class="icono" align="center">
                        </a>
                    </td>
                 </tr>
                {% endfor %}
            </tbody>



        </table>

    </div>

    <div class="col-12">
        <h5 class="nav justify-content">Página:
            <span>
                {% for l in  lista_contracciones.paginator.page_range %}
                    <a class="enlacePaginacion" href="?pagina={{forloop.counter}}"> {{forloop.counter}}</a>,
                 {% endfor %}
            </span>
        </h5>
     </div>

</div>



{% endblock %}