
{% extends 'base.html' %}
{% load i18n static %}

{% block contenido %}

<div class=" row m-5 p-4  justify-content-center">
    <div class="col-md-12">
        <h1 align="center"  class="nav justify-content-center tituloView">{{ mesCal }} {{ anoCal }}</h1>
        <hr style="width: 60%">
    </div>



    <table class=" table table-condensed" style="width: 30%">
    <div class="justify-content-center">
            <tr>
            {% for day in headers %}
                <th>{{ day|date:"D"|slice:":3" }}</th>
            {% endfor %}
            </tr>

            {% for week in calendar %}
            <tr>
                {% for day in week %}
                     <td {% if not day.in_month %}
                         class="columView"
                        {% endif %}>

                         {% if day.event %}
                            {% if getMes %}
                                <a href="/miAgenda/?fecha={{ masMes }}&detalle={{day.day|date:'Ymd' }}">{{ day.day|date:"j" }}</a>
                             {% else %}
                                <a href="/miAgenda/?detalle={{day.day|date:'Ymd' }}">{{ day.day|date:"j" }}</a>
                            {% endif %}

                         {% else %}
                             {{ day.day|date:"j" }}
                         {% endif %}
                     </td>
                {% endfor %}
            </tr>
            {% endfor %}
    </div>
    </table>



        {% if getDetalle %}
              <div  class="col-lg-1"></div>
             <div  class="m-2  alert alert-dark col-lg-5 col-md-12 col-sm-12" role="alert" >
            {% for detalle in detalles %}
                <strong>
                {{ detalle.categoria }}
                </strong><br>
                <strong>{{ detalle.titulo }} -
                {{ detalle.fecha }} <a href="/borrarEvento/{{ detalle.id }}">
                             <img src="../../static/icon/borrar.svg" alt="Borrar" class="icono" align="center">
                        </a></strong><br>
                {{ detalle.descripcion }}

                <hr style="width: 100%">

            {% endfor %}
              </div>

        {% endif  %}



    <div class="text-center col-12">
        <a href="/buscarFecha/">Buscar Fecha</a>
        <br>
        <a href="anadirFecha/">Añadir nuevo evento</a>
    </div>


</div>

{% endblock %}