{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}
<style>

.enlaceView{
    font-family: 'Rubik', sans-serif;
    color: #212529;
}
</style>

<div class=" row m-5 p-4  justify-content-center">
    <div class="col-md-12">
        <h1 align="center" class="nav  justify-content-center tituloView">Inicio de sesión</h1>
        <hr style="width: 60%">
    </div>


    <form method="post">
    {% csrf_token %}
        <div class="col-md-12 ">
           {% csrf_token %}
           {{ form.as_p }}
        </div>


        <div class="text-center col-12">
            <button type="submit" class="btn btn-info btn-lg px-4 m-1">Iniciar sesión</button>
        </div>


    </form>

    <div  class="col-12" style="text-align: center;">
        <hr style="width: 60%">
        <a class="enlaceView"  href="/registro">¿Nuevo aqui? Registrate</a>
    </div>



</div>

{% endblock %}